<script type="tmpl/html" id="block-video">
<style>
.block-video {
  line-height: 0;
  padding: 50px 0; 
  font-size: 0;}
  .block-video .text {
    padding: 40px;
    line-height: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center; }
    .block-video .text h1 {
      margin-top: 30px; }
    .block-video .text p {
      margin: 30px 0; }
  .block-video iframe {
    width: 100%;
    height: 400px; }
  .block-video .middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: initial;
  }
  @media screen and (max-width: 991px){
  .block-video .middle {
      display: block;
    }
  }
</style>
</script>

<script type="tmpl/html" id="block-1">
  <style>
  .block-1 {
  color:red }
  </style>
</script>

<script type="tmpl/html" id="header-1">
  <style>
  .navbarOne {
  border: 2px outset #8F4700;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #993300;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  opacity: 0,6;
  }
  li, a {
  color: #FF9933;
  }
  li a:hover {
  background-color: #669999;
  }
  img {
  height: 25px;
  }

  .navbar-default {
  img {
  height: 25px;
  }
  }
  .navbar-inverse {
  img {
  height: 25px;
  }
  }
  </style>
</script>

<script type="tmpl/html" id="header-simple">
<style>
.navigationMenu {
  border: 1px solid #9E9E9E;
  border-radius: 0;
  background-color: #FFF;
  font-weight: bold;
  margin-bottom: 0;
}
  .navigationMenu button {
    border: 1px solid #9E9E9E;
    padding-bottom:0px;
    padding-top: 10px;
  }
  .navigationMenu .navbar-right {
    padding-right: 20px;
  }
  .navigationMenu li, .navigationMenu a {
    color: #757575;
  }
  .navigationMenu .navbar-brand {
    color: #000;
  }
  .navigationMenu img {
    height: 25px;
  }
  .navigationMenu .dropdown {
    border-left: 1px solid #9E9E9E;
  }
  .navigationMenu li:hover{
    display: block;
  }
  .navigationMenu .dropdown:hover ul {
    display: block;
  }
</style>
</script>

<script type="tmpl/html" id="header-2">
  <style>
  .header {
  color:green }
  </style>
</script>

<script type="tmpl/html" id="block-top-1">
  <style>
  .block-top-1 {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-position: center;
  padding: 150px 0;
  }
  .block-top-1 h1 {
  text-transform: uppercase;
  font-size: 65px;
  }
  .block-top-1 hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px;
  margin: 30px auto;
  }
  .block-top-1 p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  font-size: 18px;
  }
  .block-top-1 a.btn {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28;
  }
  border-radius
  .block-top-1 a.btn:hover {
  color: #fff;
  background: #eb3812;
  }
  </style>
</script>

<script type="tmpl/html" id="block-icons-1">
  <style>
  .block-icons-1 {
  padding: 50px 0; }
  .block-icons-1 hr {
    max-width: 50px;
    border-color: #333;
    border-width: 3px;
    margin: 40px auto; }
  .block-icons-1 p {
    font-size: 16px; }
  .block-icons-1 .fa {
    font-size: 60px; }
  </style>
</script>

<script type="tmpl/html" id="block-portfolio-1">
  <style>
  .block-portfolio-1 {
  padding: 50px 0 0 0;
  }
  .block-portfolio-1 .padding_0 {
  padding: 0;
  }
  .block-portfolio-1 .portfolio_wrap > div {
  padding: 0;
  }
  .block-portfolio-1 hr {
  max-width: 50px;
  border-color: #333;
  border-width: 3px;
  margin: 30px auto 40px auto
  }
  .block-portfolio-1 .wrap {
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  text-align: center;
  }
  .block-portfolio-1 .wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  }
  .block-portfolio-1 .wrap h3 {
  margin-top: 0;
  }
  .block-portfolio-1 .wrap p {
  font-size: 18px;
  margin-bottom: 0;
  }
  .block-portfolio-1 .wrap .info {
  background: rgba(235, 56, 18, 0.5);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: move;
  transition: 0.1s ease-in-out;
  }
  .block-portfolio-1 .wrap .info > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
  .block-portfolio-1 .wrap:hover .info {
  opacity: 1;
  }
  </style>
</script>

<script type="tmpl/html" id="block-map">
  <style>
  .block-map {
  position: relative; }
  .block-map iframe {
  width: 100%;
  height: 400px; }

  </style>
</script>


<script type="tmpl/html" id="large-footer-1">
  <style>
  .large-footer-1 {
  background: #333;
  color: #fff;
  padding: 50px 0;
  }
  .large-footer-1 .column-1 {
  text-align: right;
  }
  .large-footer-1 .column-2 .fa {
  font-size: 80px;
  }
  .large-footer-1 .column-3 {
  text-align: left;
  }
  .large-footer-1 .column-3 li {
  margin: 10px 0;
  }
  .large-footer-1 .column-3 .fa {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  }
  .large-footer-1 a, .large-footer-1 a:hover {
  color: #fff;
  }
  .large-footer-1 .fa {
  font-size: 30px;
  }
  .large-footer-1 .copyright {
  margin: 30px 0;
  }
  .large-footer-1 h2, .large-footer-1 h4 {
  margin-top: 0;
  }
  .large-footer-1 h4 {
  margin-bottom: 20px;
  }
  .large-footer-1 a {
    display: inline-block;
    padding: 5px;
  }
  </style>  
</script>

<script type="tmpl/html" id="large-carousel-1">
<style>
.large-carousel-1 {
  position: relative; }
  .large-carousel-1 .text_wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff; }
  .large-carousel-1 .item {
    padding-bottom: 65%; }
    .large-carousel-1 .item img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%; }
  .large-carousel-1 h1 {
    margin-top: 0;
    font-size: 70px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 10px; }
  .large-carousel-1 p {
    font-size: 34px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 10px; }
  .large-carousel-1 .carousel-control {
    z-index: 10; }
    .large-carousel-1 .carousel-control .fa {
      position: absolute;
      top: 50%; }
    .large-carousel-1 .carousel-control.left .fa {
      left: 50%; }
    .large-carousel-1 .carousel-control.right .fa {
      right: 50%; }
  @media screen and (max-width: 768px) {
    .large-carousel-1 h1 {
      font-size: 38px; }
    .large-carousel-1 p {
      font-size: 20px; } }
</style>  
</script>

<script type="tmpl/html" id="large-image-1">
<style>
.large-image-1 {
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  background-size: cover;
  padding: 120px 0;
}
.large-image-1 h2 {
    margin: 0 0 35px 0;
    font-size: 42px;
}
.large-image-1 p {
    font-size: 18px;
}
</style>  
</script>

<script type="tmpl/html" id="product-sale-1">
<style>
.product-sale-1 {
  padding: 50px 0; }
  .product-sale-1 h2 {
    margin-top: 0; }
  .product-sale-1 p {
    font-size: 18px;
    font-weight: 300; }
  .product-sale-1 .old-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #666;
    font-weight: 100; }
  .product-sale-1 .new-price {
    font-size: 26px;
    color: #265a88;
    font-weight: 100; }
  .product-sale-1 img {
    max-width: 100%; }
</style>  
</script>

<script type="tmpl/html" id="block-reviews-2">
<style>
.block-reviews-2 {
  padding: 50px 0; }
  .block-reviews-2 h2 {
    text-align: center;
    margin: 0 0 50px 0; }
  .block-reviews-2 .rev_wrap {
    background: #f9f9f9;
    border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #eee;
    padding: 15px;
    text-align: center; }
  .block-reviews-2 img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px; }
  .block-reviews-2 .name {
    font-weight: bold; }

</style>  
</script>

<script type="tmpl/html" id="center-footer">
<style>
#center-footer {
  margin: 0;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #66BB6A; }
  #center-footer .row {
    color: #fff; }
    #center-footer .row #linkLogo {
      padding: 15px;
      font-weight: bold;
      font-size: 20px; }
      #center-footer .row #linkLogo a {
        color: #fff; }
    #center-footer .row p {
      margin-bottom: 2px; }
  #center-footer .fade-half {
    color: #E0E0E0;
    font-size: 15px; }
  #center-footer .social-list {
    margin: 10px 0; }
    #center-footer .social-list a {
      display: inline-block;
      padding: 10px;
      color: #fff; }
      #center-footer .social-list a .fa {
        font-size: 32px; }

@media screen and (max-width: 768px) {
  #center-footer {
    padding: 60px 0; }
    #center-footer .text-right {
      text-align: center; } }
 </style>
</script>


<script type="tmpl/html" id="simple-block">
<style>
  .simple-block {
    padding: 150px 30px 150px 30px;
    background-image: url(./../img/page/simple-block.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: #fff;
    margin-left: -30px;
  }
  .simple-block .img-center {
    margin: 0 auto;
  }
  .simple-block h1 {
    font-size: 25px;
  }
</style>
</script>

<script type="tmpl/html" id="timer-block">
<style>
.timer-block {
  background-image: url(./../img/page/timer-block.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
  .timer-block .row {
    padding: 120px 0px 120px 120px;
  }
  .timer-block h1 {
    color: #fff;
  }
  .timer-block #timer {
    font-size: 45px;
    color: #EEEEEE;
  }
  .timer-block .lead {
    color:#EEEEEE;
  }
  .timer-block p {
    font-style: italic;
  }
</style>
</script>

<script type="tmpl/html" id="header-center">
<style>
.header-center .navbar-brand {
  float: right;
  margin-right: 15px;
  text-transform: uppercase; }

.header-center .navbar-toggle {
  float: left;
  margin-left: 15px; }

.header-center .dropdown-menu {
  z-index: 2; }

.header-center .navbar-nav > li {
  text-align: center; }
  .header-center .navbar-nav > li > a {
    padding: 15px 5px;
    text-align: center; }
.header-center .navbar {
    margin-bottom: 0;
  }

@media screen and (min-width: 768px) {
  .header-center .navbar-brand {
    position: absolute;
    left: 42%;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 0; }
  .header-center .navbar-left {
    margin-left: 15%; }
  .header-center .navbar-right {
    margin-right: 11%; } }
</style>
</script>

<script type="tmpl/html" id="footer-thin">
<style>
.footer-thin {
  background-color: #292929;
  color: #939393;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 30px; }
  .footer-thin a {
    font-size: 18px;
    color: #939393;
    text-transform: uppercase;
    line-height: 36px;
    text-decoration: none;
    margin: 0 10px; }
  .footer-thin a:hover {
    opacity: .6; }
  .footer-thin p {
    margin: 5px 0;
    font-size: 14px;
    opacity: .6; }
  .footer-thin ul {
    margin: 5px 0;
    list-style: none;
    padding: 0; }
    .footer-thin ul li {
      display: inline-block;
      font-size: 16px; }
      .footer-thin ul li a {
        line-height: normal;
        padding: 0 15px;
        display: inline-block;
        margin: 0; }
        .footer-thin ul li a .fa {
          width: 20px; }

</style>
</script>

<script type="tmpl/html" id="block-image-3">
<style>
.block-image-3 .title {
  margin: 20px 0;
  color: #666;
  padding: 10px 35px; }
  .block-image-3 .title p {
    font-size: 13px; }
  .block-image-3 .title img {
    max-height: 200px;
    margin: auto; }
</style>
</script>

<script type="tmpl/html" id="text-slider">
<style>
.text-slider {
  background-image: url(./../img/page/text-slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 50px 30px;
  color: #fff; }
  .text-slider .carousel-control.left, .text-slider .carousel-control.right {
    background-image: none !important;
    filter: none !important; }
  .text-slider .carousel-inner {
    display: none; }
    .text-slider .carousel-inner .text .carousel-caption {
      min-height: 175px;
      position: static;
      padding: 20px 100px;
      bottom: 0; }
  .text-slider .carousel-control {
    display: none; }

@media screen and (min-width: 480px) {
  .text-slider .carousel-inner, .text-slider .carousel-control {
    display: block; }
  .text-slider .carousel-control {
    padding-top: 5%; } }
</style>
</script>

<script type="tmpl/html" id="block-photo-par">
<style>
  .block-photo-par {
    background-image: url(./../img/page/block-photo-par.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 50px;
    color: #fff; }
    .block-photo-par h1, .block-photo-par p {
      margin: 10px 0; }
</style>
</script>

<script type="tmpl/html" id="block-review">
<style>
.block-review {
  padding: 50px 0 20px 0;
}
.block-review .margin {
    margin-bottom: 30px
}
@media screen and (max-width: 768px) {
  .block-review {
    text-align: center;
  }  
}
</style>
</script>

<script type="tmpl/html" id="block-column-3">
<style>
.block-column-3 {
  padding: 50px 0 20px 0;
  .margin {
    margin-bottom: 30px
  }
}
</style>
</script>

