<script type="tmpl/html" id="header-1">
<header>
  <nav class="navbar navbarOne navbar-top" role="navigation" id="navig">
    <div class="container-fluid" data-hover data-element="background">
      <a class="navbar-brand  navbar-left" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/ScientificLinux-Logo.gif" alt="logo" data-element="image"></a>
      <div class="navbar-header navbar-left">
        <ul class="nav navbar-nav">
          <li><a href="#" contenteditable="true" data-hover data-element="link">Home</a></li>
          <li><a href="#"  contenteditable="true" data-hover data-element="link">About</a></li>
          <li><a href="#"  contenteditable="true" data-hover data-element="link">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  contenteditable="true" data-hover data-element="link">Dropdown Menu <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" contenteditable="true" data-element="link">Link1</a></li>
              <li><a href="#" contenteditable="true" data-element="link">Link2</a></li>
              <li><a href="#" contenteditable="true" data-element="link">link3</a></li>
              <li class="divider"></li>
              <li><a href="#" contenteditable="true" data-element="link">Separated link</a></li>
            </ul>
          </li>
        </ul> 
      </div>
    </div>
  </nav>
</header>
</script>

<script type="tmpl/html" id="header-simple">
<header>
  <nav class="navbar navigationMenu navbar-top" role="navigation">
      <div class="container-fluid" data-hover>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span id="respMenuBtn">Menu</span>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand  navbar-left" href="#"  contenteditable="true" data-hover data-element="link">L O G I C</a>
        </div>
        <div class="navbar-collapse collapse" data-element="backgroundHeader">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" contenteditable="true" data-hover data-element="link">Home</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">About</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"contenteditable="true" data-element="link">Dropdown<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">First</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Second</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Third</a></li>
                <li class="divider"></li>
                <li><a href="#" contenteditable="true" data-element="link">Separated</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"contenteditable="true" data-element="link">UKR<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">ENG</a></li>
                <li><a href="#" contenteditable="true" data-element="link">POL</a></li>
              </ul>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
</header>
</script>

<script type="tmpl/html" id="block-1">
<section class="container block-1">
  <div class="col-xs-12 col-sm-18">
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="footer-1">
  <footer>
  <div class="container">
  <div class="row">
  <div class="col-lg-12 text-center">
  <p>Copyright © Your Website 2014</p>
  </div>
  </div>
  </div>
  </footer>
</script>

<script type="tmpl/html" id="center-footer">
<footer>
<section>     
  <footer id="center-footer" class="footers" data-element="backgroundFooter">
    <div class="container" data-hover>
      <div class="row">
        <div data-hover contenteditable="true" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
          <div id="linkLogo"><a  class="lead mb48 mb-xs-16" data-hover data-element="link">C O R P O R A T I ON</a></div>
          <p data-hover class="lead mb48 mb-xs-16" data-element="text"><span data-hover>
            12 Shevchenka str • Suite 12 1st Floor</span></p>
          <p data-hover class="lead mb48 mb-xs-16" data-element="text"><span data-hover>Glen Iris, Melbourne 3146</span></p>
          <p data-hover class="lead mb48 mb-xs-16" data-element="text"><span data-hover>(096)669-31-29</span></p>
          <ul class="list-inline social-list">
            <li data-hover><a href="#"><span class="col-md-3 fa fa-twitter fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-facebook fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-linkedin fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-instagram fa-2x"></span></a></li>
          </ul>
        </div>
      </div>
      <div data-hover contenteditable="true" class="row fade-half">
        <div data-hover class="col-sm-4 text-center hidden-xs">
          <span>© Copyright 2015 Epam</span>
        </div>
        <div data-hover class="col-sm-4 text-center">
          <span>Website Design &amp; Development</span>
        </div>
        <div data-hover class="col-sm-4 text-right hidden-xs">
          <span>buildpage@mail.com</span>
        </div>
      </div>
    </div>
  </footer>
</section>
</footer>
</script>

<script type="tmpl/html" id="footer-2">
  <footer>
  <div class="container">
  <div class="row">
  <div class="col-lg-12 text-center">
  <p>Awesome Copyright © Your Website 2014</p>
  </div>
  </div>
  </div>
  </footer>
</script>

<script type="tmpl/html" id="block-icon">
<section data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" data-hover data-element="title">
          Welcome to Modern Business
        </h1>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true" data-element="title"><i class="fa fa-thumbs-o-up" data-hover data-element="icon"></i> Bootstrap v3.2.0</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true" data-element="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true" data-element="title"><i class="fa fa-calendar" data-hover data-element="icon"></i> Free &amp; Open Source</h4>
          </div>
        <div class="panel-body">
          <p data-hover contenteditable="true" data-element="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 draggable" data-hover>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-hover contenteditable="true" data-element="title"><i class="fa fa-check" data-hover data-element="icon"></i> Easy to Use</h4>
        </div>
        <div class="panel-body">
          <p data-hover contenteditable="true" data-element="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default" data-hover contenteditable="true">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-review">
<section data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover data-element="title">Heading</h2>
        <p contenteditable="true" data-hover data-element="text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover data-element="title">Heading</h2>
        <p contenteditable="true" data-hover data-element="text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover data-element="title">View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover data-element="title">Heading</h2>
        <p contenteditable="true" data-hover data-element="text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover data-element="title">View details »</a></p>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-video">
<section data-element="section" class="block-video">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="text">
          <h2 contenteditable="true" data-hover data-element="title">If You Could Live Your Life Again</h2>
          <p contenteditable="true" data-hover data-element="text">Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
      </div>
      <div class="col-md-5" data-hover>
        <iframe src="https://www.youtube.com/embed/9bZkp7q19f0?wmode=transparent" frameborder="0" allowfullscreen data-hover></iframe>
        <div class="block-over video-over" style="font-family: Helvetica" data-element="video">Edit video</div>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-map">
<section data-element="section" class="block-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4861.171957591791!2d24.050371078797397!3d49.80268155039748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae809efa3bbbb%3A0x8167583d1a6d52cb!2z0LLRg9C7LiDQkdC10YDQtdC20LDQvdGB0YzQutCwLCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1439719603772" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="block-over map-over" data-element="map">Edit map</div>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-top-1">
<section data-element="background" class="block-top-1" data-mdparallax="img/page/header.jpg">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 contenteditable="true" data-hover data-element="title">Your Favorite Source of Free Bootstrap Themes</h1>
        <hr>
        <p contenteditable="true" data-hover data-element="text">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a href="#" data-element="link"  contenteditable="true" data-hover class="btn btn-xl" data-element="title">Find Out More</a>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-icons-1">
<section data-element="section" class="block-icons-1 drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 contenteditable="true" data-hover data-element="title">At Your Service</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center  draggable"  data-hover>
        <span class="fa fa-calendar" aria-hidden="true" data-hover data-element="icon"></span>
        <h3 contenteditable="true" data-hover>Sturdy Templates</h3>
        <p contenteditable="true" data-hover data-element="text">Our templates are updated regularly so they dont break.</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center draggable"  data-hover>
        <span class="fa fa-clipboard" aria-hidden="true" data-hover data-element="icon"></span>
        <h3 contenteditable="true" data-hover>Ready to Ship</h3>
        <p contenteditable="true" data-hover data-element="text">You can use this theme as is, or you can make changes!</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center draggable"  data-hover>
        <span class="fa fa-check" aria-hidden="true" data-hover data-element="icon"></span>
        <h3 contenteditable="true" data-hover>Up to Date</h3>
        <p contenteditable="true" data-hover data-element="text">We update dependencies to keep things fresh.</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center draggable" data-hover>
        <span class="fa-thumbs-o-up" aria-hidden="true" data-hover data-element="icon"></span>
        <h3 contenteditable="true" data-hover>Made with Love</h3>
        <p contenteditable="true" data-hover data-element="text">You have to make your websites with love these days!</p>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="block-portfolio-1">
<section class="block-portfolio-1 drag_and_drop">
  <div class="col-lg-12 text-center">
    <h2 contenteditable="true" data-hover data-element="title">Portfolio</h2>
    <hr>
  </div>
  <div class="portfolio_wrap">
    <div class="col-md-4 col-sm-2 draggable" data-hover>
      <div class="wrap">
        <img src="http://templategenerator.esy.es/img/page/portfolio_1_1.jpg">
      <div class="info">
        <div>
          <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
          <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 draggable" data-hover>
    <div class="wrap">
      <img src="http://templategenerator.esy.es/img/page/portfolio_1_2.jpg">
      <div class="info">
        <div>
          <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
          <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 draggable" data-hover>
    <div class="wrap">
      <img src="http://templategenerator.esy.es/img/page/portfolio_1_3.jpg">
      <div class="info">
        <div>
          <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
          <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 draggable" data-hover>
    <div class="wrap">
      <img src="http://templategenerator.esy.es/img/page/portfolio_1_4.jpg">
      <div class="info">
        <div>
          <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
          <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 draggable" data-hover>
    <div class="wrap">
      <img src="http://templategenerator.esy.es/img/page/portfolio_1_5.jpg">
      <div class="info">
        <div>
          <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
          <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 draggable" data-hover>
    <div class="wrap">
      <img src="http://templategenerator.esy.es/img/page/portfolio_1_6.jpg">
        <div class="info">
          <div>
            <h3 contenteditable="true" data-hover data-element="title">Mauris</h3>
            <p contenteditable="true" data-hover data-element="text">Integer tincidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="large-footer-1">
<footer class="large-footer-1 drag_and_drop">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-5 column-1 draggable">
        <h2 contenteditable="true" data-hover data-element="title">Duis lobortis massa imperdiet quam</h2>
      </div>
      <div class="col-sm-2 column-2 draggable">
        <i class="fa fa-file-text" data-element="icon" data-hover></i>
      </div>
      <div class="col-sm-5 column-3 draggable">
        <h4 contenteditable="true" data-hover data-element="title">Vestibulum dapibus nunc ac augue. Vestibulum dapibus nunc ac augue.</h4>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-facebook-square fa-6" data-element="icon" data-hover></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" data-element="icon" data-hover></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square" data-element="icon" data-hover></i></a></li>
          <li><a href="#"><i class="fa fa-vk" data-element="icon" data-hover></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright" contenteditable="true" data-hover data-element="text">The © symbol, or the word 'Copyright' or abbreviation 'Copr.';</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook-square fa-6" data-element="icon" data-hover></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" data-element="icon" data-hover> data-element="icon" data-hover>></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square" data-element="icon" data-hover>></i></a></li>
          <li><a href="#"><i class="fa fa-vk" data-element="icon" data-hover>></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</script>

<script type="tmpl/html" id="large-carousel-1">
  <section>
      <div class="carousel slide large-carousel-1" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#" data-slide-to="0" class="active"></li>
          <li data-target="#" data-slide-to="1"></li>
          <li data-target="#" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://templategenerator.esy.es/img/page/slide-1.jpg" alt="" data-element="image" data-hover>
          </div>
          <div class="item">
            <img src="http://templategenerator.esy.es/img/page/slide-2.jpg" alt="" data-element="image" data-hover>
          </div>
          <div class="item">
            <img src="http://templategenerator.esy.es/img/page/slide-3.jpg" alt="" data-element="image" data-hover>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#" role="button" data-slide="prev">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="right carousel-control" href="#" role="button" data-slide="next">
          <i class="fa fa-chevron-right"></i>
        </a>

        <div class="text_wrap">
          <h1 contenteditable="true" data-hover data-element="title">Nam eget dui</h1>
          <br/>
          <p  contenteditable="true" data-hover data-element="text">Nullam tincidunt adipiscing enim.</p>
        </div>
      </div>
    </section>
</script>

<script type="tmpl/html" id="large-image-1">
<section class="large-image-1" data-mdparallax="img/page/130H.jpg">
  <div class="container">
    <h2 contenteditable="true" data-hover data-element="title">Donec mi odio faucibus at odio faucibus at</h2>
    <p contenteditable="true" data-hover data-element="text">Donec venenatis vulputate lorem. Nullam tincidunt adipiscing enim. Curabitur at lacus ac velit ornare lobortis. Aliquam eu nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.</p>
  </div>
</section>
</script>

<script type="tmpl/html" id="product-sale-1">
  <section class="product-sale-1 drag_and_drop">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 draggable">
            <img src="http://templategenerator.esy.es/img/page/service4.jpg" alt="" data-element="image" data-hover>
          </div>
          <div class="col-xs-6 draggable">
            <h2 contenteditable="true" data-hover data-element="title">Nunc nonummy metus</h2>
            <span class="old-price" contenteditable="true" data-hover>300 $</span>
            <span class="new-price" contenteditable="true" data-hover>100 $</span>
            <p contenteditable="true" data-hover data-element="text">Suspendisse feugiat. Mauris sollicitudin fermentum libero. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean massa.</p>
            <ul class="list-unstyled">
              <li contenteditable="true" data-hover><strong>Width:</strong> 100</li>
              <li contenteditable="true" data-hover><strong>Height:</strong> 300</li>
              <li contenteditable="true" data-hover><strong>Color:</strong> Black</li>
              <li contenteditable="true" data-hover><strong>Weight:</strong> 2 kg</li>
            </ul>
            <a href="#" class="btn btn-primary" contenteditable="true" data-hover data-element="link">Buy</a>
          </div>
        </div>
      </div>
    </section>
</script>

<script type="tmpl/html" id="block-reviews-2">
  <section class="block-reviews-2 drag_and_drop">
      <div class="container">
        <h2 contenteditable="true" data-hover data-element="title">Reviews</h2>
        <div class="row">
          <div class="col-md-4 draggable">
            <div class="rev_wrap">
              <img src="https://randomuser.me/api/portraits/med/women/54.jpg" alt="" class="img-circle" data-element="image" data-hover>
              <p class="name" contenteditable="true" data-hover>Leslie Cunningham</p>
              <p contenteditable="true" data-hover data-element="text">Sed fringilla mauris sit amet nibh. Curabitur turpis. Suspendisse eu ligula. Etiam rhoncus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
            </div>
          </div>
          <div class="col-md-4 draggable">
            <div class="rev_wrap">
              <img src="https://randomuser.me/api/portraits/med/women/84.jpg" alt="" class="img-circle" data-element="image" data-hover>
              <p class="name" contenteditable="true" data-hover data-element="text">Marcia Neal</p>
              <p contenteditable="true" data-hover data-element="text">Sed fringilla mauris sit amet nibh. Curabitur turpis. Suspendisse eu ligula. Etiam rhoncus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
            </div>
          </div>
          <div class="col-md-4 draggable">
            <div class="rev_wrap">
              <img src="https://randomuser.me/api/portraits/med/women/64.jpg" alt="" class="img-circle" data-element="image" data-hover>
              <p class="name" contenteditable="true" data-hover data-element="text">Hannah Bailey</p>
              <p contenteditable="true" data-hover data-element="text">Sed fringilla mauris sit amet nibh. Curabitur turpis. Suspendisse eu ligula. Etiam rhoncus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</script>

<script type="tmpl/html" id="simple-block">
<section>
  <div id="center-block" class="simple-block" data-mdparallax="img/page/simple-block.jpg">
    <div class="container" data-hover>
      <div class="row">
        <div data-hover contenteditable="true" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
          <a  class="lead mb48 mb-xs-16" data-hover>
            <img class="img-responsive center-block"  data-element="image"  src="http://foundry.mediumra.re/img/vent2.png">
          </a>
          <h1 data-hover class="lead mb48 mb-xs-16">Design news and projects</h1>
          <p data-hover class="lead mb48 mb-xs-16">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="timer-block">
<section>
  <div class="timer-block" data-mdparallax="img/page/timer-block.jpg">
    <div class="container" data-hover>
      <div class="row">
        <div data-hover contenteditable="true" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24 pull-right">
          <h1 data-hover>To my victory</h1>
          <div id="timer" data-hover data-element="timer">
          </div>
          <h1 data-hover class="lead mb48 mb-xs-16">Design news and projects</h1>
          <p data-hover class="lead mb48 mb-xs-16">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="header-center">
<header>
  <div class="header-center">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" contenteditable="true" data-element="link">Inception</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#" contenteditable="true" data-element="link">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" contenteditable="true" data-element="link">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">First page</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Second page</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" contenteditable="true" data-element="link">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">First page</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Second page</a></li>
              </ul>
            </li>
            <li><a href="#" contenteditable="true" data-element="link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
</script>

<script type="tmpl/html" id="block-photo-par">
<section class="block-photo-par" data-mdparallax="img/page/block-photo-par.jpg">
  <div class="row">
    <div class="col-md-4 text-center col-md-offset-7 photo" data-hover>
      <h1 contenteditable="true" data-hover data-element="text">Great minds think alike</h1>
      <p class=".hidden-xs"contenteditable="true" data-hover data-element="text">Very intelligent people tend to come up with the same ideas at the same time. (Used playfully, to commend someone for expressing the same thing you were thinking of; implies that you are congratulating that person for being as smart as you are. Also Great minds run in the same gutters, a casual and jocular variant.)</p>
    </div>
  </div>
</section>
</script>

<script type="tmpl/html" id="footer-thin">
<footer>
  <div class="footer-thin footers"  data-element="backgroundFooter" data-hover >
    <div class="row">
      <div class="col-sm-4 text-center" data-hover>
        <a href="#" data-element="link">Inception</a>
      </div>
      <div class="col-sm-4 text-center" data-hover>
        <p data-hover contenteditable="true" data-element="text">Copyright © Your Website 2015</p>
      </div>
      <div class="col-sm-4 text-center" data-hover>
        <ul>
          <li data-hover><a href="https://www.facebook.com/" data-element="link"><span class="fa fa-facebook fa-1x"></span></a></li>
          <li data-hover><a href="https://twitter.com" data-element="link"><span class="fa fa-twitter fa-1x"></span></a></li>
          <li data-hover><a href="https://instagram.com/" data-element="link"><span class="fa fa-instagram fa-1x"></span></a></li>
          <li data-hover><a href="https://www.linkedin.com/" data-element="link"><span class="fa fa-linkedin fa-1x"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</script>

<script type="tmpl/html" id="block-image-3">
  <section data-element="section" class="container block-image-3">
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center" data-hover>
        <div class="title">
          <img class="img-responsive" src="http://api.randomuser.me/portraits/women/39.jpg" data-hover data-element="image" alt>
          <h4 data-hover contenteditable="true" data-element="text">Project manager</h4>
          <p data-hover contenteditable="true" data-element="text">Ginger O. Long</p>
          <p data-hover contenteditable="true" data-element="text">A project manager is often a client representative and has to determine and implement the exact needs of the client. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center" data-hover>
        <div class="title">
          <img class="img-responsive" src="http://api.randomuser.me/portraits/men/29.jpg" data-hover data-element="image" alt>
          <h4 data-hover contenteditable="true" data-element="text">Construction millwright</h4>
          <p data-hover contenteditable="true" data-element="text">Melvin V. Camarillo</p>
          <p data-hover contenteditable="true" data-element="text">Based on knowledge of the firm they are representing. A project manager is the bridging gap between the production team and client.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center" data-hover>
        <div class="title">
          <img class="img-responsive" src="http://api.randomuser.me/portraits/women/44.jpg" data-hover data-element="image" alt>
          <h4 data-hover contenteditable="true" data-element="text">Emergency care nurse</h4>
          <p data-hover contenteditable="true" data-element="text">Moira S. Smith</p>
          <p data-hover contenteditable="true" data-element="text">Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto nihil explicabo perferendis quos provident delectus.</p>
        </div>
      </div>
    </div>
  </section>
</script>


<script type="tmpl/html" id="text-slider">
  <section class="col-lg-12 text-center text-slider" data-hover>
    <h1 data-hover contenteditable="true" data-element="text">All things to all people</h1>
    <div id="carousel" class="carousel slide">
      <div class="carousel-inner" role="listbox">
        <div class="item active text">
          <div class="carousel-caption">
            <h4 data-hover contenteditable="true" data-element="text">If you are all things to all people, you please or satisfy everyone. She is exhausted tying to be a good wife,  a good mother and a good teacher, but she can not be all things to all people.</h4>
            <p data-hover contenteditable="true" data-element="text">Amanda M. Vela</p>
            <p data-hover contenteditable="true" data-element="text">Glass installer</p>
          </div>
        </div>
        <div class="item text">
          <div class="carousel-caption">
            <h4 data-hover contenteditable="true" data-element="text">Someone who reads books or watches TV programmes about other places and countries, but does not actually travel anywhere, is called an armchair traveller.</h4>
            <p data-hover contenteditable="true" data-element="text">Patrick L. Silver</p>
            <p data-hover contenteditable="true" data-element="text">Structural and reinforcing iron and metal worker</p>
          </div>
        </div>
        <div class="item text">
          <div class="carousel-caption">
            <h4 data-hover contenteditable="true" data-element="text">A person who is born with a silver spoon in their mouth is born into a very rich family.</h4>
            <p data-hover contenteditable="true" data-element="text">Elijah D. Williamson</p>
            <p data-hover contenteditable="true" data-element="text">Roofer</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control hidden-xs" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control hidden-xs" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</script>