<script type="tmpl/html" id="header-1">
<header>
  <nav class="navbar navbarOne navbar-top" role="navigation" id="navig">
      <div class="container-fluid" data-hover data-element="background">
        <a class="navbar-brand  navbar-left" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/ScientificLinux-Logo.gif" alt="logo" data-element="image"></a>
        <div class="navbar-header navbar-left">
          <ul class="nav navbar-nav">
            <li><a href="#" contenteditable="true" data-hover data-element="link">Home</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">About</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"  contenteditable="true" data-hover data-element="link">Dropdown Menu <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">Link1</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Link2</a></li>
                <li><a href="#" contenteditable="true" data-element="link">link3</a></li>
                <li class="divider"></li>
                <li><a href="#" contenteditable="true" data-element="link">Separated link</a></li>
              </ul>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
</header>
</script>
<script type="tmpl/html" id="block-1">
<div class="container block-1">
  <div class="col-xs-12 col-sm-18">
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="footer-1">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright © Your Website 2014</p>
      </div>
    </div>
  </div>
</footer>
</script>
<script type="tmpl/html" id="footer-2">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Awesome Copyright © Your Website 2014</p>
      </div>
    </div>
  </div>
</footer>
</script>
<script type="tmpl/html" id="block-icon">
<div data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" data-hover>
        Welcome to Modern Business
        </h1>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-ok" aria-hidden="true" data-hover data-element="icon"></span> Bootstrap v3.2.0</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-gift" aria-hidden="true" data-hover data-element="icon"></span> Free &amp; Open Source</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-hover data-element="icon"></span> Easy to Use</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="block-review">
<div data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="block-video">
<div data-element="section" class="block-video">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 contenteditable="true" data-hover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</h2>
        <p contenteditable="true" data-hover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
      </div>
      <div class="col-lg-6" data-hover>
        <iframe src="https://www.youtube.com/embed/9bZkp7q19f0?wmode=transparent" frameborder="0" allowfullscreen data-hover></iframe>
        <div class="block-over" data-element="video">Edit video</div>
      </div>
    </div>
  </div>
</div>
</script>

<script type="tmpl/html" id="block-top-1">
  <div data-element="background" class="block-top-1" style="background: url(../img/page/header.jpg)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 contenteditable="true" data-hover>Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p contenteditable="true" data-hover>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#" data-element="link"  contenteditable="true" data-hover class="btn btn-xl">Find Out More</a>
            </div>
        </div>
  </div>
</script>

<script type="tmpl/html" id="block-icons-1">
<div data-element="section" class="block-icons-1 drag_and_drop">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 contenteditable="true" data-hover>At Your Service</h2>
              <hr>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center  draggable"  data-hover>
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Sturdy Templates</h3>
            <p contenteditable="true" data-hover>Our templates are updated regularly so they don't break.</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable"  data-hover>
            <span class="glyphicon glyphicon-heart" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Ready to Ship</h3>
            <p contenteditable="true" data-hover>You can use this theme as is, or you can make changes!</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable"  data-hover>
            <span class="glyphicon glyphicon-time" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Up to Date</h3>
            <p contenteditable="true" data-hover>We update dependencies to keep things fresh.</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable" data-hover>
            <span class="glyphicon glyphicon-check" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Made with Love</h3>
            <p contenteditable="true" data-hover>You have to make your websites with love these days!</p>
          </div>
      </div>
  </div>
</div>
</script>

<script type="tmpl/html" id="block-portfolio-1">
  <div class="block-portfolio-1 drag_and_drop">
    <div class="col-lg-12 text-center">
      <h2 contenteditable="true" data-hover>Portfolio</h2>
      <hr>
    </div>
    <div class="portfolio_wrap">
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_1.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_2.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_3.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_4.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_5.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_6.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="tmpl/html" id="block-top-1">
  
</script>
