<script type="tmpl/html" id="header-simple">
<header>
  <nav class="navbar navigationMenu navbar-top" role="navigation">
      <div class="container-fluid" data-hover>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span id="respMenuBtn">Menu</span>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand  navbar-left" href="#"  contenteditable="true" data-hover data-element="link">L O G I C</a>
        </div>
        <div class="navbar-collapse collapse" data-element="backgroundHeader">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" contenteditable="true" data-hover data-element="link">Home</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">About</a></li>
            <li><a href="#"  contenteditable="true" data-hover data-element="link">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"contenteditable="true" data-element="link">Dropdown<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">First</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Second</a></li>
                <li><a href="#" contenteditable="true" data-element="link">Third</a></li>
                <li class="divider"></li>
                <li><a href="#" contenteditable="true" data-element="link">Separated</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"contenteditable="true" data-element="link">UKR<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" contenteditable="true" data-element="link">ENG</a></li>
                <li><a href="#" contenteditable="true" data-element="link">POL</a></li>
              </ul>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
</header>
</script>
<script type="tmpl/html" id="block-1">
<div class="container block-1">
  <div class="col-xs-12 col-sm-18">
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="center-footer">
<footer>
<section>     
  <footer id="center-footer" class="footers" data-element="backgroundFooter">
    <div class="container" data-hover>
      <div class="row">
        <div data-hover contenteditable="true" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
          <div id="linkLogo"><a  class="lead mb48 mb-xs-16" data-hover data-element="link">C O R P O R A T I ON</a></div>
          <p data-hover class="lead mb48 mb-xs-16"><span data-hover>
            12 Shevchenka str • Suite 12 1st Floor</span></p>
          <p data-hover class="lead mb48 mb-xs-16"><span data-hover>Glen Iris, Melbourne 3146</span></p>
          <p data-hover class="lead mb48 mb-xs-16"><span data-hover>(096)669-31-29</span></p>
          <ul class="list-inline social-list">
            <li data-hover><a href="#"><span class="col-md-3 fa fa-twitter fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-facebook fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-linkedin fa-2x"></span></a></li>
            <li data-hover><a href="#"><span class="col-md-3 fa fa-instagram fa-2x"></span></a></li>
          </ul>
        </div>
      </div>
      <div data-hover contenteditable="true" class="row fade-half">
        <div data-hover class="col-sm-4 text-center hidden-xs">
          <span>© Copyright 2015 Epam</span>
        </div>
        <div data-hover class="col-sm-4 text-center">
          <span>Website Design &amp; Development</span>
        </div>
        <div data-hover class="col-sm-4 text-right hidden-xs">
          <span>buildpage@mail.com</span>
        </div>
      </div>
    </div>
  </footer>
</section>
</footer>
</script>
<script type="tmpl/html" id="footer-2">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Awesome Copyright © Your Website 2014</p>
      </div>
    </div>
  </div>
</footer>
</script>
<script type="tmpl/html" id="block-icon">
<div data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" data-hover>
        Welcome to Modern Business
        </h1>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-ok" aria-hidden="true" data-hover data-element="icon"></span> Bootstrap v3.2.0</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-gift" aria-hidden="true" data-hover data-element="icon"></span> Free &amp; Open Source</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover  contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 draggable" data-hover>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-hover contenteditable="true"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-hover data-element="icon"></span> Easy to Use</h4>
          </div>
          <div class="panel-body">
            <p data-hover contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
            <a href="#" class="btn btn-default" data-hover contenteditable="true">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="block-review">
<div data-element="section" class="section_wrap drag_and_drop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
      <div class="col-lg-4 draggable" data-hover>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" data-hover data-element="image">
        <h2 contenteditable="true" data-hover>Heading</h2>
        <p contenteditable="true" data-hover>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button" contenteditable="true" data-hover>View details »</a></p>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="block-video">
<div data-element="section" class="block-video">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 contenteditable="true" data-hover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</h2>
        <p contenteditable="true" data-hover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
      </div>
      <div class="col-md-5" data-hover>
        <iframe src="https://www.youtube.com/embed/9bZkp7q19f0?wmode=transparent" frameborder="0" allowfullscreen data-hover></iframe>
        <div class="block-over video-over" data-element="video">Edit video</div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="tmpl/html" id="block-map">
<div data-element="section" class="block-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4861.171957591791!2d24.050371078797397!3d49.80268155039748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae809efa3bbbb%3A0x8167583d1a6d52cb!2z0LLRg9C7LiDQkdC10YDQtdC20LDQvdGB0YzQutCwLCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1439719603772" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="block-over map-over" data-element="map">Edit map</div>
      </div>
    </div>
  </div>
</div>
</script>

<script type="tmpl/html" id="block-top-1">
  <div data-element="background" class="block-top-1" style="background: url(../img/page/header.jpg)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 contenteditable="true" data-hover>Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p contenteditable="true" data-hover>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#" data-element="link"  contenteditable="true" data-hover class="btn btn-xl">Find Out More</a>
            </div>
        </div>
  </div>
</script>

<script type="tmpl/html" id="block-icons-1">
<div data-element="section" class="block-icons-1 drag_and_drop">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 contenteditable="true" data-hover>At Your Service</h2>
              <hr>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center  draggable"  data-hover>
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Sturdy Templates</h3>
            <p contenteditable="true" data-hover>Our templates are updated regularly so they don't break.</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable"  data-hover>
            <span class="glyphicon glyphicon-heart" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Ready to Ship</h3>
            <p contenteditable="true" data-hover>You can use this theme as is, or you can make changes!</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable"  data-hover>
            <span class="glyphicon glyphicon-time" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Up to Date</h3>
            <p contenteditable="true" data-hover>We update dependencies to keep things fresh.</p>
          </div>
          <div class="col-lg-3 col-md-6 text-center draggable" data-hover>
            <span class="glyphicon glyphicon-check" aria-hidden="true" data-hover data-element="icon"></span>
            <h3 contenteditable="true" data-hover>Made with Love</h3>
            <p contenteditable="true" data-hover>You have to make your websites with love these days!</p>
          </div>
      </div>
  </div>
</div>
</script>

<script type="tmpl/html" id="block-portfolio-1">
  <div class="block-portfolio-1 drag_and_drop">
    <div class="col-lg-12 text-center">
      <h2 contenteditable="true" data-hover>Portfolio</h2>
      <hr>
    </div>
    <div class="portfolio_wrap">
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_1.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_2.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_3.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_4.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_5.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 draggable" data-hover>
        <div class="wrap">
          <img src="img/page/portfolio_1_6.jpg">
          <div class="info">
            <div>
              <h3 contenteditable="true" data-hover>Mauris</h3>
              <p contenteditable="true" data-hover>Integer tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="tmpl/html" id="block-top-1">
  
</script>
