@import "bootstrap";
@import "bootstrap/theme";

/*colors*/
$white-gray: #f5f5f5;
$gray: #777;
$dark-gray: #333;
$blue: #00BCD4;
/*end of colors*/

.nav-icon {
  right: -11px;
  top: 0;
  z-index: 4;
  height: 30px;
  width: 41px;
  position: relative;
  margin: 10px 10px 0 10px;
  position: fixed;
  opacity: .5;
  cursor: pointer;
  &:hover {
    /*    background: #777;*/
    opacity: .8;
  }
  div {
    height: 3px;
    width: 27px;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;

    &::before, &::after {
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      background: #333;
      transition-duration: 0.3s;
      transition-delay: 0s;
    }
    &::before {top:-10px;}
    &::after {top:10px;}
  }
}
.cross.active .span::before {
  top:0px;
  transform: rotate(45deg);
  background: #a30000;
}

.cross.active .span::after {
  top:0;
  transform: rotate(-45deg);
  background: #a30000;
}
.cross.active .span {
  background:none;
}

.nav-icon.active {
  background-color: rgba(40, 40, 40, 1);
  border-radius: 0%;
  height: 40px;
  &:hover {
    background: #777;
  }
}

.btn.active.focus:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0
}

#nav_wrap {
  a:hover, button:hover {
    opacity: .8
  }
  img {
    max-width: 100%;
  }
  .main_nav {
    width: 40px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    background: $dark-gray;
    &:hover+.sub_nav {
      right: 0;
      opacity: 1;
    }
    &:hover .template_wrap {
      top: 100%;
    }
    #up {
      margin-top: 50px;
    }
    a {
      width: 100%;
      height: 40px;
      border: 0;
      top: 0;
      color: #fff;
      background: 0 0;
      transition: .1s ease-in-out;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      display: block;
    }
    .active, a:hover {
      background: $gray;
    }
    .bottom_nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .sub_nav {
    width: 300px;
    padding-right: 55px;
    padding-left: 15px;
    height: 100%;
    position: fixed;
    z-index: 2;
    right: -300px;
    top: 0;
    background: $white-gray;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,.3);
    opacity: 0;
    transition: .2s ease-in-out;
    &:hover {
      right: 0;
      opacity: 1;
    }
    hr {
      border-color: #ccc;
      margin: 20px -15px;
    }
    a {
      color: $dark-gray;
    }
    .settings_text-font {
      color: $dark-gray;
      font-family: 'Glyphicons Halflings';
      span {
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
      }
      span::before {
        content: "\e047";
        float: left;
        margin-right: 40px;
        font-size: 16px;
        font-weight: normal;
      }
      span::after {
        content: "\e259";
        float: right;
      }
      ul {
        margin: 10px 0;
        list-style: none;
        li {
          width: 100%;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
      img {
        height: 18px;
      }
    }
    .cmn-toggle {
      position: absolute;
      display: none;
    }
    .cmn-toggle + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    input {
      display: none;
      &.cmn-toggle-round + label {
        padding: 2px;
        width: 50px;
        height: 25px;
        background-color: #dddddd;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
      }
      &.cmn-toggle-round + label:before, &.cmn-toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &.cmn-toggle-round + label:before {
        right: 1px;
        background-color: #f1f1f1;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
        -webkit-transition: background 0.4s;
        -moz-transition: background 0.4s;
        -o-transition: background 0.4s;
        transition: background 0.4s;
      }
      &.cmn-toggle-round + label:after {
        width: 23px;
        background-color: #fff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -webkit-transition: margin 0.4s;
        -moz-transition: margin 0.4s;
        -o-transition: margin 0.4s;
        transition: margin 0.4s;
      }
      &.cmn-toggle-round:checked + label:before {
        background-color: #8ce196;
      }
      &.cmn-toggle-round:checked + label:after {
        margin-left: 27px;
      }
    }

    .add_btn {
      width: 100%;
      background: $blue;
      color: #fff;
      text-align: center;
      margin: 0;
    }
    .tmpls {
      text-align: center;
      width: 100%;
      height: 25px;
      margin-left: auto;
      padding: 3px 40px 0 40px;
    }
    .tmpls li {
      height: 19px;
      text-align: inherit;
      list-style: none;
      opacity: .8;
      padding: 0 5px 0 15px;
      border-radius: 4px;
      background-color: #00BCD4;
      color: #f5f5f5;
      .tmpl_delete {
        font-size: 14px;
        font-weight: bold;
        visibility: hidden;
        margin-right: auto;
        cursor: pointer;
        color: #f33;
        float: right;
      }
    }
    .tmplsBlocksInMenu {
      margin-top: 5px;
      position: relative;
      height: 300px;
      overflow: scroll;
    }
    .tmplsBlocksInMenu li {
      margin: 5px 0;
    }
    .tmplsBlocksInMenu li:hover {
      cursor: move;
    }
    .tmpls li:hover .tmpl_delete{
      visibility: visible;
    }
  }
  .template_wrap {
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.2s ease-in-out;
    opacity: 0;
    padding: 15px;
    background: #f5f5f5;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,.3);
    text-align: center;
    .template_close {
      float: left;
      margin-top: 0px;
      margin-bottom: 5px;
      cursor: pointer;
      color: $dark-gray;
      font-size: 22px;
      padding: 11px 3px;
      opacity: 0.5;
    }
    .template_close:hover {
      opacity: 1;
    }
    .template_close::before {
      content: "\e088";
    }
    .template {
      display: none;
      li {
        list-style: none;
      }
      img, span {
        pointer-events: none;
      }
      .subscription {
        background-color: $dark-gray;
        position: relative;
        top: -18px;
        width: 100%;
        display: block;
        visibility: hidden;
        color: $white-gray;
        opacity: 0.8;
      }
      &.open {
        display: block;
      }
    }
    li {
      /*      margin-top: 10px;*/
    }
    li:hover .subscription {
      visibility: visible;
    }

  }
  &.template_open .sub_nav{
    right: 0;
    opacity: 1;
    width: 270px;
  }
  &.template_open .template_wrap {
    right: 270px;
    opacity: 1;
  }
}

/*contextmenu*/
#context_menu {
  min-width: 170px;
  background: $white-gray;
  box-shadow: 1px 0 5px 0 rgba(0,0,0,0.3);
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
  &.open {
    display: block;
  }
  .context_title {
    background: $dark-gray;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
  }
  .context_list {
    margin-bottom: 0;
    a {
      color: $dark-gray;
      display: block;
      padding: 10px 15px;
      transition: 0.1s ease-in-out;
      &:hover {
        background: #fff;
        text-decoration: none;
      }
    }
  }
}
/*end of contextmenu*/

/*data attributes*/
[data-hover]:hover {
  outline: 1px solid #00BCD4;
  outline-offset: 2px;
}
/*end of data attributes*/

/*modals*/
.icon_modal {
  .bs-glyphicons-list {
    font-size: 0;
    li {
      width: 10%;
      vertical-align: top;
      text-align: center;
    }
    span {
      font-size: 24px;
      padding: 15px;
      cursor: pointer;
      &:hover {
        background: #ddd;
      }
    }
  }
}
.img_modal {
  h5 {
    margin-top: 0;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  .add_img {
    width: 100%;
    background: #00BCD4;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
  }
  .border-right {
    border-right: 1px solid #e5e5e5;
  }
  .image_list {
    margin-bottom: 0;
    font-size: 0;
    li {
      width: 25%;
      padding: 0 5px 10px 5px;
      position: relative;
      vertical-align: top;
      img {
        max-width: 100%;
        cursor: pointer;
      }
      &:hover .remove {
        display: block;
      }
    }
    .remove {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 15px;
      height: 15px;
      text-align: center;
      display: block;
      cursor: pointer;
      display: none;
      &:before {
        content: "\e088";
        font-size: 14px;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        line-height: 16px;
        color: firebrick;
      }
    }
  }
}
/*end of modals*/

.modal {
  .modal-content {
    .modal-body{
      font-size: 18px;
    }
  }
}