/* Block-video */
.block-video {
  background-color: #ccc;
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
}
/* End of block-video */

/* Block-map */
.block-map {
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
}
/* End of block-map */

/* header center */
.navigationMenu {
  border: 1px solid #9E9E9E;
  border-radius: 0;
  background-color: #FFF;
  font-weight: bold;
  button {
    border: 1px solid #9E9E9E;
    padding-bottom:0px;
    padding-top: 10px;
  }
  .navbar-right {
    padding-right: 20px;
  }
  li, a {
    color: #757575;
  }
  .navbar-brand {
    color: #000
  }
  img {
    height: 25px;
  }
  .dropdown {
    border-left: 1px solid #9E9E9E;
  }
  li:hover{
    display: block;
  }
  .dropdown:hover ul {
    display: block;
  }
}
/*End of header center*/


/*block-top-1*/
.block-top-1 {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-position: center;
  padding: 150px 0;
  h1 {
    text-transform: uppercase;
    font-size: 65px;
  }
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 30px auto;
  }
  p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
  a.btn {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
    border-radius
    &:hover {
      color: #fff;
      background: #eb3812;
    }
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 34px;
    }
  }
}
/*end of block-top-1*/

/*block-icons-1*/
.block-icons-1 {
  padding: 100px 0;
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 40px auto;
  }
  p {
    font-size: 16px;
  }
  .glyphicon {
    font-size: 60px;
    color: #f05f40;
  }
}
/*end of block-icons-1*/

/*block-portfolio-1*/
.block-portfolio-1 {
  padding: 50px 0 0 0;
  .padding_0 {
    padding: 0;
  }
  .portfolio_wrap>div {
    padding: 0;
  }
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 40px auto;
  }
  .wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
    text-align: center;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
    }
    h3 {
      margin-top: 0;
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
    .info {
      background: rgba(235, 56, 18, 0.5);
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: move;
      transition: 0.1s ease-in-out;
      & > div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:hover .info {
      opacity: 1;
    }  
  }
}
/*end of block-portfolio-1*/

/*large-footer-1*/
.large-footer-1 {
  background: #333;
  color: #fff;
  padding: 50px 0;

  .column-1 {
    text-align: right;
  }
  .column-2 span {
    font-size: 80px;
  }
  .column-3 {
    text-align: left;
    li {
      margin: 10px 0;  
      span {
        margin-right: 10px;  
      }
    }
  }
  a, a:hover {
    color: #fff;
  }
  .fa {
    font-size: 30px;
  }
  .copyright {
    margin: 30px 0;
  }
  h2, h4 {
    margin-top: 0;
  }
  h4 {
    margin-bottom: 20px;  
  }
  @media screen and (max-width: 768px) {
    .column-1, .column-3 {
      text-align: center;
    }
    .column-3 ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-right: 15px;
      }
    }
    .column-2 span {
      margin-bottom: 10px;
    }
  }  
}

/*end of large-footer-1*/

/*large-carousel-1*/
.large-carousel-1 {
  position: relative;
  .text_wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  h1 {
    margin-top: 0;
    font-size: 70px;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 0 10px;
  }
  p {
    font-size: 34px;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 0 10px;
  }
  .carousel-control {
    z-index: 10;
  }
  @media screen and (max-width: 768px){
    h1 {
      font-size: 38px;
    }
    p {
      font-size: 20px;
    }
  }
}
/*end of large-carousel-1*/

/*large-image-1*/
.large-image-1 {
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  background-size: cover;
  padding: 120px 0;
  h2 {
    margin: 0 0 35px 0;
    font-size: 42px;
  }
  p {
    font-size: 18px;
  }
}
/*end of large-image-1*/

/*product-sale-1*/
.product-sale-1 {
  padding: 50px 0;
  h2 {
    margin-top: 0;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
  .old-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #666;
    font-weight: 100;
  }
  .new-price {
    font-size: 26px;
    color: #265a88;
    font-weight: 100;
  }
  img {
    max-width: 100%;
  }
}
/*end of product-sale-1*/

/*block-reviews-2*/
.block-reviews-2 {
  padding: 50px 0;
  h2 {
    text-align: center;
    margin: 0 0 50px 0;
  }
  .rev_wrap {
    background: #f9f9f9;
    border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #eee;
    padding: 15px;
    text-align: center;
  }
  img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
  .name {
    font-weight: bold;
  }
}
/*end of block-reviews-2*/

/*center-footer*/
#center-footer {
  margin:0;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #66BB6A;
  .row {
    width: 100%;
    color: #fff;
    #linkLogo{
      padding: 15px;
      font-weight: bold;
      font-size: 20px;
      a {
        color: #fff;
      }
    }
    p {
      margin-bottom: 2px;
    }
    li span {
      padding: 15px;
      color: #E0E0E0;
    }
  }
  .fade-half {
    color: #E0E0E0;
    font-size: 15px;
  }
}

/*end of center-footer*/
/*end of block-portfolio-1*/

/*Footer-thin*/
  .footer-thin {
    background-color: #292929;
    position: relative;
    color: #939393;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 30px;
    img {
      margin: 5px 0;
      height: 30px;
    }
    p {
      margin: 5px 0;
      font-size: 14px;
      opacity: .6;
    }
    ul {
      margin: 5px 0;
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 5px;
        font-size: 16px;
        a {
          color: #939393;
          span {
            pointer-events: none;
          }
        }
        a:hover {
          opacity: .6;
        }
      }
    }
  }
/*End of footer-thin*/

/*Header-center*/
.header-center {
  .navbar-brand {
    float: right;
    margin-right: 15px;
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }
  .dropdown-menu {
    z-index: 2;
  }
  .navbar-nav > li {
    text-align: center;
    & > a {
      padding: 15px 5px;
      text-align: center;
    }
  }
}
@media screen and (min-width:768px){
  .header-center {
    .navbar-brand {
        position: absolute;
        top: -5px;
        left: 45%;
        display: block;
        text-align: center;
        margin: 0 10px;
    }
    .navbar-left {
      margin-left: 15%;
    }
    .navbar-right {
      margin-right: 11%;
    }
  }
}
/*End of header-center*/

/*Block-photo_par*/
.block-photo_par {
  background-image: url(./../img/page/block-photo_par.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center right;
  padding: 50px;
  color: #fff;
  h1,p {
    margin: 10px 0;
  }
}
/*End of block-photo_par*/