$gray: #777;
/* Block-video */
.block-video {
  background-color: #ccc;
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
  iframe:hover + .block-over{
    opacity: 0.6;
  }
  .block-over {
    cursor: pointer;
    position: absolute;
    color: #fff;
    font-size: 16px;
    top: 60px;
    width: 100px;
    height: 40px;
    background-color: #777;
    opacity: 0;
    text-align: center;
    line-height: 40px;
  }
  .block-over:hover {
    opacity: 0.9;
  }
}
/* End of block-video */

/* header */
.navbarOne {
  border: 2px outset #8F4700;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #993300;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  opacity: 0,6;
  li, a {
    color: #FF9933;
  }
  li a:hover {
    background-color: #669999;
  }
  img {
    height: 25px;
  }
}
.navbar-default {
  img {
    height: 25px;
  }
}
.navbar-inverse {
  img {
    height: 25px;
  }
}
/*End of header*/


/*block-top-1*/
.block-top-1 {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-position: center;
  padding: 150px 0;
  h1 {
    text-transform: uppercase;
    font-size: 65px;
  }
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 30px auto;
  }
  p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
  a.btn {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
    border-radius
    &:hover {
      color: #fff;
      background: #eb3812;
    }
  }
}
/*end of block-top-1*/

/*block-icons-1*/
.block-icons-1 {
  padding: 100px 0;
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 40px auto;
  }
  p {
    font-size: 16px;
  }
  .glyphicon {
    font-size: 60px;
    color: #f05f40;
  }
}
/*end of block-icons-1*/

/*block-portfolio-1*/
.block-portfolio-1 {
  padding: 50px 0 0 0;
  .padding_0 {
    padding: 0;
  }
  .portfolio_wrap>div {
    padding: 0;
  }
  hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    margin: 40px auto;
  }
  .wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
    text-align: center;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
    }
    h3 {
      margin-top: 0;
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
    .info {
      background: rgba(235, 56, 18, 0.5);
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: move;
      transition: 0.1s ease-in-out;
      & > div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:hover .info {
      opacity: 1;
    }  
  }
}
/*end of block-portfolio-1*/