/* Block-video */
.block-video {
  background-color: #ccc;
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
}
/* End of block-video */

/* Block-map */
.block-map {
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
}
/* End of block-map */